# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments & Streamlit Local Settings
.venv/
venv/
.streamlit/

# Models & Weights
models/*.npz
*.pt
*.onnx

# Ignore ALL Markdown Documentation Files
*.md

# IDE Settings
.vscode/
.idea/